<!-------------------------------------------------------------------->
 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/images/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Voted Number One Most Memorable Night.</h1>
              <p class="lead">The High Eight was voted Number one Most Memorable night by the Fans, and was Honored by a complementary prise to remind them to keep it rockin.</p>
              <a class="btn btn-large btn-primary" href="biography.html">Learn More About them</a>

            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/images/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>The High Eight Thank the Workers.</h1>
              <p class="lead">The High Eight decided to dedicate a performance to the amazing workers who kept our dream alive night after night.<br> So we hope you Enjoy it, <br> This is for you </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/images/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p class="lead">The High Eight decided to Tour one more Time, to please the fans. after many requests of one more night. We are on the way!</p>
              <a class="btn btn-large btn-primary" href="Tour.html">Check for a tour near You</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->