	 <!-- FOOTER -->
	<footer>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<P align=center><iframe src="http://free.timeanddate.com/clock/i3swyuwf/n197" frameborder="0" width="82" height="18"></iframe> </P>
		<p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> &middot;
		<!-- LikeBtn.com BEGIN -->
			<span class="likebtn-wrapper"></span>
			<script>(function(d,e,s){a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
		<!-- LikeBtn.com END -->
		</p>
	</footer>