<!DOCTYPE html>
<html lang="en">
  {% include '_head.html' %}

  <body>


	{% include '_navbar.html' %}
    
	{% include '_carousel.html' %}

	
	<!-- Main Content -->
    <hr>    
		<div class="container">
			<div class="row">
				<div class="span8">
					<h1>Ahmed - Keys</h1>
					<p>Ahmed rose to fame at a young age, being considered one of Saudi Arabia's premier child prodigy pianists.
					When he heard the intense rock music created by High Eight, his face was rocked so much that he moved to America
					with the sole purpose of joining the band. Although the band didn't even have a keyboardist at the time, Ahmed's 
					amazing knack for electronic awesomeness persuaded the other members to augment their style to accommodate the new
					sound. Since Ahmed's contributions, the success of the band has seen an increase in popularity both in America and
					 overseas.</p>
				</div>
				<div class = "span4">
					<img src="../static/images/ahmed_thumb.jpg" class="img-thumbnail" height="350px" width="400px">
				</div>
			</div><!-- /row -->
		</div><!-- /containter-->
	<hr>



	<!-- Page Footer -->
	{% include '_footer.html' %}



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	{% include '_lejavascript.html' %}
	
  </body>
</html>
