<!DOCTYPE html>
<html lang="en">
   {% include '_head.html' %}

  <body>



 	{% include '_navbar.html' %}
    
	{% include '_carousel.html' %}


	<!-- Main Content -->
    <hr>
		<div class="container">
			<div class="row">
				<div class="span8">
					<h1>Alex - Rhythm Guitarist (Backup vocals durring band breaks)</h1>
					<p>Dropping out of formal education at the age of 15, Alex became involved in performing and recording music in Seattle at an early age. Alex describes himself at this time as "[the] little music dork who lived around the corner, dropped out of high school, and was just playing guitar all day long."
					Alex was picked up in 2013 after his previous band, Green River, disbanded up due to a stylistic division between bandmates.</p>
				</div>
				<div class = "span4">
					<img src="../static/images/AlexDaveGrohl-1.jpg" class="img-thumbnail" height="399px" width="600px">
				</div>
			</div><!-- /row -->
		</div><!-- /containter-->
	<hr>


	<!-- Page Footer -->
	{% include '_footer.html' %}
	
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	{% include '_lejavascript.html' %}

	
  </body>
</html>
