<!DOCTYPE html>
<html lang="en">
  {% include '_head.html' %}

  <body>



  {% include '_navbar.html' %}
    
	{% include '_carousel.html' %}





    <hr> 

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">

         <div class="span4">
          <img class="img-circle" src="../static/images/ahmadbio.jpg">
          <h2>Ahmed</h2>
          <p><a class="btn" href="ahmedBio">View Bio &raquo;</a></p>
        </div><!-- /.span4 -->

         <div class="span4">
          <img class="img-circle" src="../static/images/ian_rock.jpg">
          <h2>Ian </h2>
          <p><a class="btn" href="ianBio">View Bio &raquo;</a></p>
        </div><!-- /.span4 -->

         <div class="span4">
          <img class="img-circle" src="../static/images/bandpic.jpg">
          <h2>David </h2>
          <p><a class="btn" href="davidBio">View Bio &raquo;</a></p>
        </div><!-- /.span4 -->

         <div class="span4">
          <img class="img-circle" src="../static/images/mike_rock_thumb.jpg">
          <h2>Mike</h2>
          <p><a class="btn" href="mikeBio">View Bio &raquo;</a></p>
        </div><!-- /.span4 -->

         <div class="span4">
          <img class="img-circle" src="../static/images/alex.jpg">
          <h2>Alex</h2>
          <p><a class="btn" href="alexBio">View Bio &raquo;</a></p>
        </div><!-- /.span4 -->

        </div>

        <br/>

    </div><!-- /.container -->
    <hr> 
	
<!-- Page Footer -->
	{% include '_footer.html' %}
	
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	{% include '_lejavascript.html' %}
  </body>
</html>

