<!DOCTYPE html>
<html lang="en">
    {% include '_head.html' %}

  <body>


	{% include '_navbar.html' %}
    
	{% include '_carousel.html' %}


	<!-- Main Content -->
    <hr>
		<div class="container">
			<div class="row">
				<div class="span8">
					<h1>David - Lead Guitarist</h1>
					<p>David was picked up as a late edition in 2012 when previous guitarist, Eddie Blitzkrieg, died in a freak stagediving accident. He was hired to give a solo for the funeral, and the other members liked him so much he was added to the linup on the spot. His almost uncanny similarities in looks and playing style to the late Eddie lead to some fans never realizing that there had been a change at all.</p>
				</div>
				<div class = "span4">
					<img src="../static/images/elec_guitar.jpg" class="img-thumbnail" height="239px" width="571px">
				</div>
			</div><!-- /row -->
		</div><!-- /containter-->
	<hr>

    
	<!-- Page Footer -->
	{% include '_footer.html' %}
	
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	{% include '_lejavascript.html' %}
	
  </body>
</html>
