<!DOCTYPE html>
<html lang="en">
    {% include '_head.html' %}

  <body>

   {% include '_navbar.html' %}
   
   {% include '_carousel.html' %}


<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
     <hr>
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <h2>Ordinary World</h2>
          <p>Crying Shame <br>
            Get Thru the Day <br>
            One Hundred Locks<br>
            Ordinary World <br>
            I Hate Everyone <br>
            Lift Me Up <br>
            Murder by Millions <br>
            Do Over <br>
            In the Name of All That's Evil on the Earth <br>
            Mean <br>
            A Little More <br>
            Won't Let Her Go <br>
            Sleep <br>
            So Sorry <br>
            My Wasted Life <br>
            Suicide <br>
            The Old Ennui <br>
            Stay Away <br>
            So You're Gonna Die <br>
            Music Makes Me Wanna Die <br></p>
        </div><!-- /.span4 -->


         <div class="span4">
          <h2>Selling Out & Going Home</h2>
          <p>It's All Right
            Sweet Little Kisses <br>
            I'll Be Your Heroin <br>
            I'm a Goner <br>
            It Must Be Love <br>
            The Law of Diminishing Returns <br>
            Tighten the Verses <br>
            Nothing Keeps Us Apart <br>
            You're Gonna Die Alone <br>
            Everybody Get Movin' <br>
            Thirteen <br>
            5th & Spring <br>
            Get What's Coming to You <br>
            Crime & Heresy <br>
            F__k You (I Want To) <br>
            You're the Infection <br>
            Nothing Turns Me On <br> </p>
        </div><!-- /.span4 -->

         <div class="span4">
          <h2>Sunshine, Joy & Happiness </h2>
          <p>How Now
            Gotta Getta Job <br>
            Hell On Earth <br>
            Please Destroy Me <br>
            Crazy Over You <br>
            You'll Look Beautiful as You Burn <br>
            I'll Come Around <br>
            Modern Age <br>
            Jesus Christ in Reverse <br>
            A Heat That Kills <br>
            The Trouble with Being Poor <br>
            Sunshine, Joy, and Happiness <br>
            This Song Is Not About You <br>
            Cannibalism Is the Cure <br>
            O' My Lord <br>
            Give Me Strength <br>
            The Great Indie-Rock Swindle <br> </p>
        </div><!-- /.span4 -->

         <div class="span4">
          <h2>Fury of Your Lonely Heart  </h2>
          <p>Love Poem
            Fury of Your Lonely Heart <br>
            Looking East <br>
            Lock Up Your Daughters <br>
            Racecar <br>
            Stone of Suffering <br>
            I Cannot Breathe <br>
            We Will Be Stars <br>
            Hold On <br>
            My Very Old Bones <br>
            Flee The Sickness <br>
            Little Bird Lost <br>
            Stare At The Sun <br>
            Disappearing Dark. <br> </p>
        </div><!-- /.span4 -->

         <div class="span4">
          <h2>Loose Tongues...</h2>
          <p>From A Little Room In Downtown <br>
            I Don't Want You Anymore <br>
            See The Blood Flow <br>
            MCA <br>
            Mary & The Truth <br> </p>
        </div><!-- /.span4 -->

        </div>

        <br/>
        <hr/>
		
 	<!-- Page Footer -->
	{% include '_footer.html' %}



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	{% include '_lejavascript.html' %}
	
  </body>
</html>

