<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Carousel Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../static/bootstrap.css" rel="stylesheet">
    <link href="../static/bootstrap-responsive.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../static/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>



    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">High Eight</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="Home"><a href="homePage">Home</a></li>
                <li><a href="biography">Biography</a></li>
                <li><a href="Discography">Discography</a></li>
                <li><a href="Tour">Upcoming Tour dates</a></li>
                  <!-- Read about Bootstrap dropdowns at http://twbs.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="SocialMedia">Follow Us On FaceBook</a></li>
                    <li><a href="SocialMedia">Follow Us On Twitter</a></li>
                    <li><a href="SocialMedia">Sign For Email News Letter</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->



  <!-------------------------------------------------------------------->
 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="../static/images/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Voted Number One Most Memorable Night.</h1>
              <p class="lead">The High Eight was voted Number one Most Memorable night by the Fans, and was Honored by a complementary prise to remind them to keep it rockin.</p>
              <a class="btn btn-large btn-primary" href="biography.html">Learn More About them</a>

            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/images/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>The High Eghit Thank the Workers.</h1>
              <p class="lead">The High Eight decided to dedicate tonight performance to the amazing workers, who kept our dream alive night after night.<br> So we hope you Enjoy it, <br> This is for you </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="../static/images/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p class="lead">The High Eight decided to Tour one more Time, to please the fans. after many requests of one more night. We are on the way</p>
              <a class="btn btn-large btn-primary" href="Tour.html">Check Tour near You</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->






    <hr> <center>       The Beatles were an English rock band that formed in Liverpool in 1960. With members John Lennon, Paul McCartney,
        George Harrison and Ringo Starr, they became widely regarded as the greatest and most influential act of the rock era.[1] Rooted in skiffle,
        beat and 1950s rock and roll, the Beatles later experimented with several genres,
        ranging from pop ballads and Indian music to psychedelic and hard rock, often incorporating classical elements in innovative ways.
        In the early 1960s, their enormous popularity first emerged as "Beatlemania",
        but as their songwriting grew in sophistication they came to be perceived as an embodiment of the ideals shared by the era's sociocultural revolutions. </center><hr/>






      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap-transition.js"></script>
    <script src="../static/js/bootstrap-alert.js"></script>
    <script src="../static/js/bootstrap-modal.js"></script>
    <script src="../static/js/bootstrap-dropdown.js"></script>
    <script src="../static/js/bootstrap-scrollspy.js"></script>
    <script src="../static/js/bootstrap-tab.js"></script>
    <script src="../static/js/bootstrap-tooltip.js"></script>
    <script src="../static/js/bootstrap-popover.js"></script>
    <script src="../static/js/bootstrap-button.js"></script>
    <script src="../static/js/bootstrap-collapse.js"></script>
    <script src="../static/js/bootstrap-carousel.js"></script>
    <script src="../static/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="../static/js/holder/holder.js"></script>
  </body>
</html>
