<!DOCTYPE html>
<html lang="en">
  {% include '_head.html' %}

  <body>

	{% include '_navbar.html' %}
    
	{% include '_carousel.html' %}


	<!-- Main Content -->
    <hr>    
		<div class="container">
			<div class="row">
				<div class="span4">
					<blockquote>
						<p>High Eight have a nasty habit of rocking people's faces off! Be prepared for plastic surgery before you listen to their latest masterpiece!</p>
						<footer>--Rolling Stone</footer>
					</blockquote>
					
				</div>
				<div class="span4">
					<blockquote>
						<p>I think High Eight's motto is 'no face left unrocked'!</p>
						<footer>--Entertainment Weekly</footer>
					</blockquote>
				</div>
				<div class="span4">
					<blockquote>
						<p>High Eight's recent effort is one of the most definitive works of the decade!</p>
						<footer>--Billboard</footer>
					</blockquote>
				</div>
			</div><!-- /row -->

			

			
		</div><!-- /containter-->
			<hr>



 <body onload="alertUser('Please Make Sure To Drop us a like')"> </body>


	<!-- Page Footer -->
	{% include '_footer.html' %}	
	
	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	{% include '_lejavascript.html' %}
    <script src="../static/js/Popup.js"></script>

</html>