<!DOCTYPE html>
<html lang="en">
    {% include '_head.html' %}

  <body>


	{% include '_navbar.html' %}
    
	{% include '_carousel.html' %}


	<!-- Main Content -->
    <hr>
		<div class="container">
			<div class="row">
				<div class="span8">
					<h1>Ian - Bass</h1>
					<p>Ian first picked up a bass when he was 2 years old. His mother played the upright bass and that is what Ian first learned to play. When Ian turned 11 he was given his first bass guitar and fell in love. Quickly learning all his favorite songs from his favorite band the Red Hot Chili Peppers, flee, bass guitarist for red hot chili peppers quickly become a model for Ian to strive to be like. Ian went through a number of high school bands but none of them were a good fit. In 2010 Ian finally found his dream band, High Eight. In an interview with rollingstones Ian says, "High Eight has the potential to be one of the greatest bands of all times. I think we can do it!"</p>
				</div>
				<div class = "span4">
					<img src="../static/images/ian_bass.jpg" class="img-thumbnail" height="450px" width="600px">
				</div>
			</div><!-- /row -->
		</div><!-- /containter-->
	<hr>





	<!-- Page Footer -->
	{% include '_footer.html' %}



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	{% include '_lejavascript.html' %}
  </body>
</html>
