<!DOCTYPE html>
<html lang="en">
   {% include '_head.html' %}

  <body>

	{% include '_navbar.html' %}
    
	{% include '_carousel.html' %}

	
	<!-- Main Content -->
    <hr>    
		<div class="container">
			<div class="row">
				<div class="span8">
					<h1>Mike Gilbert - Drums</h1>
					<p>Mike was born with drumsticks in his hands. When he was in the womb, he would even kick his mother's stomach in rhythm. Being an accomplished jack-of-all-trades by the time he was 5, even sharing the stage with legendary rock guitarist Steve Vai, he eventually branched out to other ventures. When he was 20, he joined the up-and-coming group High Eight and rode the wave of success as the band was rocketed to fame. When he's not on the road, he enjoys designing web sites, taking on small electronics and programming projects, and playing video games.</p>
				</div>
				<div class = "span4">
					<img src="../static/images/mike_drums_thumb.jpg" class="img-thumbnail" height="350px" width="400px">
				</div>
			</div><!-- /row -->
		</div><!-- /containter-->
	<hr>




    </div><!-- /.container -->


	<!-- Page Footer -->
	{% include '_footer.html' %}



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	{% include '_lejavascript.html' %}
	
  </body>
</html>
