<!DOCTYPE html>
<html lang="en">
   {% include '_head.html' %}

  <body>



   
	{% include '_navbar.html' %}
    
	{% include '_carousel.html' %}




	<!-- Main Content -->

    <hr> <center>      We Apologize for the inconvenience, our social network is under maintenance. </center><hr/>


  
	<!-- Page Footer -->
	{% include '_footer.html' %}



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	{% include '_lejavascript.html' %}
	
  </body>
</html>
