<!DOCTYPE html>
<html lang="en">
   {% include '_head.html' %}

  <body>


 
	{% include '_navbar.html' %}
    
	{% include '_carousel.html' %}


 	<hr> <center>
	<div class="container">
	<div class="row">
      <table style="width:90%">
      <tr>
        <td><h3>UPCOMING DATE</h3></td>
        <td><h3>VENUE</h3></td>
        <td><h3>COUNTRY</h3></td>
      </tr>
      <tr>
        <td>Jan 18</td>
        <td> Parkir Timur Senayan</td>
        <td>Jakarta, Indonesia</td>
      </tr>
        <tr>
        <td>  Jan 20</td>
        <td>Impact Arena	Bangkok  </td>
        <td>Thailand</td>
      </tr>
      <tr>
        <td>  Jan 23</td>
        <td>Sunway Lagoon	Kuala Lumpur</td>
        <td>Malaysia</td>
      </tr>  <tr>
        <td>  Jan 25</td>
        <td>Hard Rock Coliseum	Singapore</td>
        <td>Singapore</td>
      </tr>
      <tr>
        <td>  Jan 27</td>
        <td>Blaisdell Arena</td>
        <td>Honolulu, HI</td>
      </tr>

	  </table>
	</div> <!-- end row -->

        </center><hr/>

  <!-- Page Footer -->
	{% include '_footer.html' %}



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	{% include '_lejavascript.html' %}
  </body>
</html>

